*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Nunito Sans", sans-serif;
}

body{
    background:#FFFFFF;
}

a {
    color: inherit;
    text-decoration: none;
}

.header{
    width:100%;
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
}

.search-box{
    width:450px;
    height:55px;
    background: #f8f8f8;
    border-radius:15px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 20px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    font-size:15px;
    color:#111111;
}

.search-box button{
    border:none;
    background:none;
    cursor:pointer;
    font-size:22px;
    color:#111111;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:28px;
}

.pro{
    text-decoration:none;
    color:#ff2288;
    font-size:14px;
    font-weight:600;
}

.icon{
    position:relative;
    font-size:20px;
}

.dot{
    position:absolute;
    width:8px;
    height:8px;
    background:#ff2288;
    border-radius:50%;
    top:-3px;
    right:-3px;
}

.profile-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.upload-btn{
    border:none;
    background:#ff2288;
    color:white;
    padding:16px 40px;
    border-radius:14px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.upload-btn:hover{
    background:#ff2288;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background: #222222;
    color:white;
    padding:30px 25px;
}
.logo{
    margin-bottom:40px;
}

.logo h1{
    font-size:24px;
    font-weight:800;
}

.logo span{
    font-weight:300;
}

.menu{
    list-style:none;
}

.menu li{
    margin-bottom:15px;
}

.menu a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px 20px;
    border-radius:12px;
    color:white;
    transition:.3s;
}

.menu a:hover{
    background:#ff2288;
}

.menu .active a{
    background:#ff2288;
}

.following{
    margin-top:50px;
}

.following h2{
    color:#FFFFFF;
    font-size:13px;
    margin-bottom:20px;
}

.person{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:18px;
}

.person img{
    width:42px;
    height:42px;
    border-radius:50%;
    object-fit:cover;
}

.person span{
    font-size:14px;
}

.load{
    display:inline-block;
    margin-top:15px;
    color: white;
    font-size:14px;
}

.page{
    display: flex;
}

.sidebar{
    width:260px;
    min-height:100vh;
}

.right{
    flex:1;
}

.header{
    height:90px;
}



.footer{
    padding:70px 60px 30px;
    background:#fff;
}

.footer-links{
    display:flex;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.footer-column h3{
    font-size:16px;
    margin-bottom:10px;
    color:#222222;
}

.footer-column a{
    font-size:14px;
    color:#222222;
    transition:.3s;
}

.footer-column a:hover{
    color:#ff2288;
}

.footer-bottom{
    margin-top:60px;
    padding-top:25px;
    border-top:1px solid #ececec;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.socials{
    display:flex;
    gap:20px;
}

.socials a{
    color:#222222;
    font-size:18px;
    transition:.3s;
}

.socials a:hover{
    color:#ff2288;
}

.footer-bottom p{
    font-size:14px;
    color:#555;
}

.content{
    padding:40px;
}

.orders-table{
    width:100%;
    border-collapse:separate;
    border-spacing:0 12px;
}

.orders-table thead th{
    text-align:left;
    font-size:14px;
    font-weight:700;
    color:#222;
    padding:10px 18px;
}

.orders-table tbody td{
    padding:20px 18px;
    color:#999;
    font-size:14px;
    border-top:1px solid #f1f1f1;
    border-bottom:1px solid #f1f1f1;
}

.orders-table tbody tr td:first-child{
    border-left:1px solid #f1f1f1;
    border-radius:12px 0 0 12px;
}

.orders-table tbody tr td:last-child{
    border-right:1px solid #f1f1f1;
    border-radius:0 12px 12px 0;
}

.orders-table tbody tr.selected td{
    background:#f6f6f6;
    color:#222;
    font-weight:600;
}

.orders-table tbody tr.pink td{
    color:#ff2288;
}

.orders-table tbody tr:hover td{
    background:#fafafa;
}
